/*******
yellow 		#FAEE28
black		#4D4D4D
gray		#DFDFDF 
dark gray	#9F9F9F
light gray  #EFEFEF
*******/

body{ 
	background: #DFDFDF;
	margin: 0px; 	 
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif; 
}

a{
	text-decoration: none;	
}

#header{ 		
	color: #444444;
	padding: 5px 10px; 	
}

#footer{
	text-align: right;	
	padding: 5px 10px;	
}

#logo{
	float: left; 
	clear: right;
	width: 300px;
	font-weight: bold;
	font-size: 18px;		
}

#lnks{ 
	float: right; 
	clear: right;
	width: 300px; 
	text-align: right; 	 	 	 
}

#lnks a{
	color: blue;	
}

#link_list{
	padding: 5px 10px;
	font-size: 12px;	
}

#link_list li{
	padding: 2px 0px;
}

.note_hdr{ 
	font-size: 14px; 
	font-weight: bold;
	border: 1px solid #D0D0D0; 
	background: #ECECEC;
	padding: 2px 4px;
}

.note_lnks{
	font-size: 11px;
	font-weight: normal;
	padding: 2px;
}

.note_lnks a{
	color: blue;
}

.note_body{ 
	padding: 10px; 
} 

.filterApply{
	background: #D9E8FB;
}